$invoiceSimple-brand-primary: #f27454;

$pt-intent-danger: #ff552b;
$pt-intent-success: #27c113;

@import "~@blueprintjs/core/src/blueprint";
@import "~@blueprintjs/icons/src/icons";

.input-icon-wrapper {
    padding: 12px;
}

.pt-button.btn-primary {
    background: $invoiceSimple-brand-primary;
    border: none;
    color: white;
    box-shadow: none;

    .pt-icon {
        color: white;
    }

    &:disabled {
        border: none;
        background: $light-gray4;
    }

    &:active:not(:disabled) {
        background: darken($invoiceSimple-brand-primary, 10%) !important;
        box-shadow: none;
    }

    &:hover:not(:disabled) {
        box-shadow: none;
        background: darken($invoiceSimple-brand-primary, 5%);
        color: white;
    }
}
