@import "~@blueprintjs/core/src/common/colors";
@import "~@blueprintjs/core/src/common/color-aliases";

.email-input {
    min-width: 600px;
    position: relative;

    .pt-label {
        cursor: pointer;
    }

    .pt-icon {
        pointer-events: none;
    }
}

.email-suggestion {
    a {
        font-weight: 500;
        color: $pt-dark-link-color;
        text-decoration: underline;
    }
}
