html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#root,
.app {
    width: 100%;
    height: 100%;
}

.container {
    width: 650px;
    margin: 0 auto;
    padding-top: 60px;
}

.hidden {
    display: none;
}
